.header {
    height: 64px;

    position: fixed;
    top: 0;

    width: 100%;
    background-color: white;
}

.main {
    padding-top: 64px;
}

.footer {
    background-color: #f7f7f7;

    > .hero {
        padding: 24px 0;

        > .container {
            @media (min-width: 576px) {
                max-width: 600px;
            }
            @media (min-width: 576px) {
                max-width: 600px;
            }
            @media (min-width: 576px) {
                max-width: 600px;
            }
            @media (min-width: 576px) {
                max-width: 600px;
            }
        }
    }
}
#features {
    height: 1000px;
    background-color:blue;
    font-size: 100px;
}

#about {
    height: 2000px;
    background-color: orange;
    font-size: 100px;
}


// .foo.bar {
//     //兩個都要（class="foo bar")
// }

// .foo .bar {
//     //祖孫
// }

// // 同
// .foo {
//     .bar {
//         background-color: #f7f7f7;
//     }

//     &.bar2 {
//         background-color: #f7f7f7;
//     }
// }

// .foo, .bar {
//     //或
// }
// .foo > .bar {
// 	// 父子（正下方（精準））
// }
